//is file ka use nahi hai bas aise sample aur samjhe ke liye banaya hai
PORT=8000
MONGODB_URI=mongodb+srv://yash:your-password@cluster0.mn13hxa.mongodb.net
CORS_ORIGIN=* //ye sab ko le lega * matlab sab
ACCESS_TOKEN_SECRET=chai-aur-code //ye apne se kuch bhi likh do
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend //same here kuch bhi likh do
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=httcc18d
CLOUDINARY_API_KEY=431427739835511
CLOUDINARY_API_SECRET=x26RzKSZbA77rh88Wat-JIrvEJQ
# CLOUDINARY_URL=cloudinary://431427739835511:**********@httcc18d







*****************************Data Modelling********************************
//data modelling hm log ne dusre website me kiya hai stackblitz vaha login karke apna project dekh lo